td {
      padding: 7px;
  }
.row1{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  }
.lunch{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  }
.col1{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  }